/* Style for job details container */
.job-details {
  width: 100%;
  height: 600px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure iframe takes up full space */
#jobFrame {
  width: 100%;
  height: 100%;
  border: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: "Segoe UI" !important;
}
/*
      .Jobpost_container {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        border: 1px solid #ededed;
      }*/

.header {
  font-weight: 600;
  font-size: 12px;
  color: #605e5c;
  width: auto;
  display: inline-block;
  font-family: "Segoe UI" !important;
}

h3 {
  font-family: "Segoe UI" !important;
  color: #2d73ba;
}

.value {
  font-size: 14px;
  font-weight: 600; /* Semibold */
  font-family: "Segoe UI" !important;
}

.btn_styling {
  font-weight: 600;
  background-color: #2d73ba !important;
  width: 80px;
  border: 0 !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.color-2d73ba {
  color: #2d73ba;
}

.rightside-container {
  background-color: #f9f9f9;
}

.font-size-14px {
  font-size: 14px;
}

.font-weight-600 {
  font-weight: 600 !important;
}

ul {
  list-style-type: disc; /* Use disc for filled circles */
  padding-left: 20px; /* Add some left padding for spacing */
}

.col-232323 {
  color: rgb(23, 23, 23);
}

.col-323130 {
  color: #323130;
}

.hidden {
  display: none;
}

.apply-form {
  margin-top: 20px;
}

.color-FF0000 {
  color: #ff0000;
}

.input_dec {
  border-radius: 2px !important;
  border: 1px solid #d1d1d1 !important;
  background-color: #fff !important;
  box-shadow: 1px 1px 2px 0px #0000000d !important;
  height: 35px !important;
}

.choose_fileinp {
  font-size: 16px !important;
  height: 35px !important;
  border-radius: 2px !important;
  border: 1px solid #d1d1d1 !important;
}

.lab_width {
  width: 190px;
}

.marg-14 {
  margin-right: 14px !important;
}

.labdiv1 label,
.labdiv2 label {
  font-size: 14px !important;
}
.bord-d1d1d1 {
  border-bottom: 1px solid #d1d1d1 !important;
}
.borda-d1d1d1 {
  background-color: #fff !important;
  box-shadow: 1px 1px 2px 0px #0000000d !important;
  border: 1px solid #d1d1d1 !important;
  font-size: 14px !important;
}
.bordt-d1d1d1 {
  border-top: 1px solid #d1d1d1;
}
